body{
    margin:0px;
    padding:0px;
    min-width:100%;
    overflow-y:scroll;
    background-color: #CAD2C5;
}
nav{
    height:100px;
    background-color:#2F3D46;
    width:100%;
    align-items:center;
}
.logo{
    padding:10px;
    height: 70px;
    display: flex;
    justify-content: flex-start;
}
.central{
margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  font-size: 40px;
  color: white;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap:px;
    background-color: #CAD2C5;
    padding:10px;
    height:800px;
  }
  
  .grid-container > div {
    background-color:#353535;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    margin:40px;
    border-radius: 20px;
  }
  
  .item1 {
    grid-row: 1 / span 3;
  }
  
  .item5{
      grid-column: 2/span 3;
  } 
  .searchbox{
    grid-column:2/span 3;
    text-align: left;
    height: 40px;
  }
  span{
  position:absolute;
  left: 450px;
  width:  
  }